@font-face {
  font-family: "HelveticaNeueW01-55Roman";
  src: url("../assets/fonts/HelveticaNeueW01-55Roman.eot?#iefix");
  src: url("../assets/fonts/HelveticaNeueW01-55Roman.eot?#iefix") format("eot"),
  url("../assets/fonts/HelveticaNeueW01-55Roman.woff") format("woff"),
  url("../assets/fonts/HelveticaNeueW01-55Roman.ttf") format("truetype"),
  url("../assets/fonts/HelveticaNeueW01-55Roman.svg#helvetica_neue") format("svg");
}


html {
  box-sizing: border-box;
  font-size: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 80%;
  margin: auto;
  padding: 20px;
}

ul {
  list-style-type:none;
  margin: 0;
  padding:0;

}

.stocks-ul li{
  border-bottom: 1px solid #eaeaea;
  padding: 20px;
  display: flex;
  align-items: center;

}

.li-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}

.arrows-wrapper {
  position: relative;
  margin-bottom: 12px;
}

.arrow-up {

}
.arrow-down {
  transform: rotate(180deg);
  position: absolute;
  top: 15px;
}


.red-btn {
  background-color: #ff4f46;
}

.green-btn {
  background-color: #63da39;
}

.value-btn {
  border-radius: 10px;
  color:white;
  border: 0;
  padding: 11px;
  font-size: 30px;
  cursor: pointer;
  width: 127px;
  height: 54px;
}

.value-btn:focus {
  outline:0;
}

.stock-name {
  flex: 1;
  font-family: Avenir;
  font-size: 33px;
  font-weight: 300;
  text-align: left;
  color: #59737c;

}

.value-number {
  width: 65px;
  height: 35px;
  font-family: HelveticaNeueW01-55Roman;
  font-size: 30px;
  text-align: center;
  color: #59737c;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
  margin-right: 20px;
}

.nav-ul li {
  font-size:35px
}
h1 {
  margin: 0;
  padding:20px;
}
header {
  display: flex;
  border-bottom: 1px solid #eaeaea;
  height:100px;
}

header h1 {
  flex: 1
}

nav {
  width: 20%;
}

main {
  border: 20px solid #f0f4f7;
}

.main-header {
  font-family: LucidaGrande;
  font-size: 39px;
  font-weight: bold;
  text-align: left;
  color: #41bf15;
}

.icon-arrow {
  cursor: pointer;
  color: gray;
}

.icon-arrow:hover {
  color: black;
}

.icon-arrow[disabled] {
  color: #d6d6d6;
}
.disable-arrow {
  color: #d6d6d6;
}

.icon-arrow[disabled]:hover {
  color: #d6d6d6;
}

.menu-icon {
  color: #b3b3b3;
}

.menu-icon:hover {
  color: #707070;
  cursor: pointer;
}

.filter {
  display: none;
}

.show-filter {
  display: block;
}

.red-color {
  color: red
}
